singularity {
    enabled = true
    autoMounts = true
    cacheDir = params.singularity_cachedir
}

params {
    pyrodigal_chunksize = '1G'
    hmmsearch_chunksize = '60M'
}

process {
    executor = 'slurm'
    
    clusterOptions = '-t 0-08:00:00 --mem=4G --ntasks 1 --cpus-per-task 1'

    withName: CHUNKFASTX_CONTIG {
        ext.args = "-b ${params.pyrodigal_chunksize}"
    }

    withName: CHUNKFASTX_CDS {
        ext.args = "-b ${params.hmmsearch_chunksize}"
    }

    withName: HMMER_HMMSEARCH {
        cpus = 8
        maxForks = 40
        memory = '1 GB'
        clusterOptions = '-t 0-08:00:00 --mem 1G --ntasks 1 --cpus-per-task 8'
    }

    withName: PYRODIGAL {
        cpus = 1
        maxForks = 100
        memory = '4 GB'
        clusterOptions = '-t 0-08:00:00 --mem 4G --ntasks 1 --cpus-per-task 1'
    }
}
