singularity {
    enabled = true
    autoMounts = true
    cacheDir = params.singularity_cachedir
}

params {
    hmmsearch_chunksize = '10M'
}

process {
    executor = 'slurm'

    errorStrategy = { sleep(Math.pow(3, task.attempt) * 45 as long); return 'retry' }
    // errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    // errorStrategy = 'retry'
    maxRetries    = 1
    maxErrors     = '-1'

    clusterOptions = '-t 0-08:00:00 --mem=4G --ntasks 1 --cpus-per-task 1'

    withName: CHUNKFASTX {
        ext.args = "-b ${params.hmmsearch_chunksize}"
    }

    withName: HMMER_HMMSEARCH {
        cpus = 8
        maxForks = 40
        memory = '1 GB'
        clusterOptions = '-t 0-08:00:00 --mem 1G --ntasks 1 --cpus-per-task 8'
    }

    withName: PYRODIGAL_SMALL {
        cpus = 1
        memory = '4 GB'
        clusterOptions = '-t 0-08:00:00 --mem 4G --ntasks 1 --cpus-per-task 1'
    }

    withName: PYRODIGAL_LARGE {
        cpus = 1
        memory = '4 GB'
        clusterOptions = '-t 0-08:00:00 --mem 4G --ntasks 1 --cpus-per-task 1'
    }
}
