singularity {
    enabled = true
    autoMounts = true
    cacheDir = params.singularity_cachedir
}

params {
    pyrodigal_chunksize = '1G'
    hmmsearch_chunksize = '60M'
}

process {
    executor = 'slurm'
    
    clusterOptions = '-t 0-08:00:00 --mem=4G --ntasks 1 --cpus-per-task 1'

    withName: 'PIPELINE:CHUNKFASTX_CONTIG' {
        ext.args = "-b ${params.pyrodigal_chunksize}"
    }

    withName: 'PIPELINE:CHUNKFASTX_CDS' {
        ext.args = "-b ${params.hmmsearch_chunksize}"
    }

    withName: HMMER_HMMSEARCH {
        cpus = 8
        maxForks = 40
        memory = '1 GB'
        clusterOptions = '-t 0-08:00:00 --mem 1G --ntasks 1 --cpus-per-task 8'
    }

    withName: PYRODIGAL {
        cpus = 4
        maxForks = 50
        memory = '8 GB'
        clusterOptions = '-t 0-08:00:00 --mem 8G --ntasks 1 --cpus-per-task 4'
    }
}
