singularity {
    enabled = true
    autoMounts = true
    cacheDir = params.singularity_cachedir
}

process {
    executor = 'lsf'

    errorStrategy = { sleep(Math.pow(3, task.attempt) * 45 as long); return 'retry' }
    // errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    // errorStrategy = 'retry'
    maxRetries    = 1
    maxErrors     = '-1'

    cpus = 1
    memory = '4GB'
    queue = 'normal'
    clusterOptions = '-q normal -r "select[mem>4GB] rusage[mem=4GB] span[hosts=1]" -n 1 -M 4GB'

    withName: PYRODIGAL_SMALL {
        cpus = 1
        memory = '4GB'
        queue = 'normal'
        clusterOptions = '-q normal -r "select[mem>4G] rusage[mem=4GB] span[hosts=1]" -n 1 -M 4GB'
    }

    withName: PYRODIGAL_LARGE {
        cpus = 1
        memory = '4GB'
        queue = 'normal'
        clusterOptions = '-q normal -r "select[mem>4G] rusage[mem=4GB] span[hosts=1]" -n 1 -M 4GB'
    }
}
