docker {
    enabled = true
    fixOwnership = true
}

params {
    pyrodigal_chunksize = '100M'
    hmmsearch_chunksize = '100M'
}

process {
    executor = 'local'

    withName: 'PIPELINE:CHUNKFASTX_CONTIG' {
        ext.args = "-b ${params.pyrodigal_chunksize}"
    }

    withName: 'PIPELINE:CHUNKFASTX_CDS' {
        ext.args = "-b ${params.hmmsearch_chunksize}"
    }
}
