/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: CHUNKFASTX {
        ext.args = "-b ${params.hmmsearch_chunksize}"
    }
    
    withName: HMMER_HMMSEARCH {
        ext.args = "-Z ${params.databases.pfam.variables.num_models} --cut_ga --noali"
    }

    withName: PYRODIGAL_SMALL {
        ext.args = "-p meta"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/pyrodigal" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                return filename
            },
        ]
    }

    withName: PYRODIGAL_LARGE {
        ext.args = "-p single"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/pyrodigal" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                return filename
            },
        ]
    }

    withName: CONCATENATE {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/domtbl" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('concatenated')) {
                    return filename
                }
            },
        ]
    }
}
